/* Popup */
.maplibregl-popup-content {
    background: #151020;
    color: #ffffff;
    border: 1px solid rgb(211, 154, 247);
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  align-self: center;
  border-bottom-color: rgb(211, 154, 247);
  border-top: none;
}
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
  align-self: flex-start;
  border-bottom-color:rgb(211, 154, 247);
  border-left: none;
  border-top: none;
}
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
  align-self: flex-end;
  border-bottom-color: rgb(211, 154, 247);
  border-right: none;
  border-top: none;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  align-self: center;
  border-bottom: none;
  border-top-color: rgb(211, 154, 247);
}
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
  align-self: flex-start;
  border-bottom: none;
  border-left: none;
  border-top-color: rgb(211, 154, 247);
}
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: rgb(211, 154, 247);
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  align-self: center;
  border-left: none;
  border-right-color: rgb(211, 154, 247);
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  align-self: center;
  border-left-color: rgb(211, 154, 247);
  border-right: none;
}

.maplibregl-popup-close-button {
  background-color: transparent;
  color:  rgb(211, 154, 247);
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.maplibregl-popup-close-button:hover {
  color:  rgb(255, 255, 255);
}

/* Controles (brújula, escala) */

.maplibregl-ctrl-scale {
  background-color: #050010;
  border: 1px solid rgb(211, 154, 247);
  box-sizing: border-box;
  color: #ffffff;
  font-size: 10px;
  padding: 0 5px;
  white-space: nowrap;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
  background-color: #050010;
  color: #fff;

}

.maplibregl-ctrl-attrib-button:focus,
.maplibregl-ctrl-group button:focus {
    
  box-shadow: 0 0 0px 1px rgb(44, 101, 8);/*inverted (para el fondo negro tengo que invertir el icono más tarde)*/
}

.maplibregl-ctrl-group {
    background: #050010;
    border: 1px solid rgb(211, 154, 247);
}

.maplibregl-ctrl-attrib-button {
    filter: invert(1);
}

.maplibregl-ctrl button {
    filter: invert(1); /* invierte los iconos a blanco */
}

.maplibregl-canvas-container.maplibregl-interactive:active,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass:active {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><rect width="5" height="5" fill="magenta"/></svg>') 0 0, auto;

}

.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><rect width="5" height="5" fill="white"/></svg>') 0 0, auto;

}



