@font-face {
    font-family:"Pixeled";
    src: url('../fonts/pixeled.woff2');

   
}

body {
    margin: 0;
    overflow: hidden;
    background: #000000;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><rect width="5" height="5" fill="white"/></svg>') 0 0, auto;
}

.info {
    background: #050010;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    margin: 0vh auto; 
    border-style:solid;
    border-color: rgb(211, 154, 247);
    border-width: 2px;
    display: block; 
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

h1{
    color:rgb(211, 154, 247);
    font-family: "Pixeled";
    font-style: normal;
}

a{
   
    user-select: none;
}

a:link{
    color: #FFFF11;
}

a:link:hover{
    color: #004674;
}

a:active{
    color: #FF4411;

}
a:visited{
    color: #FF11BB;
}

#mapa {
    width: 100%;
    height: 100%;
    
}

#menuCapas {
    user-select: none;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 100;
    background-color: #050010c0;
    border: solid;
    border-color: rgb(211, 154, 247);
    border-width: 1px;
    border-radius: 4px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: lighter;
    font-size: 0.6em;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
     max-height: calc(100vh - 100px);
     max-width: 300px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: rgb(211, 154, 247) #050010;
    
}


.botones {
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform 0.3s ease;
    
}

.botones.visible {
    transform: scaleX(100%);
}

#menuCapas::-webkit-scrollbar {
    width: 6px;
}

#menuCapas::-webkit-scrollbar-track {
    background: #050010;
    border-radius: 3px;
}

#menuCapas::-webkit-scrollbar-thumb {
    background: rgb(211, 154, 247);
    border-radius: 3px;
}

#menuCapas::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 15, 206);
}

#menuCapas details {
    width: 100%;

}

#menuCapas details summary {
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 100%;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5em;
}

#menuCapas h3 {
    margin: 5px 0 0 0;
    padding: 0;
    inline-size: none;
    color: #A2A5FF
}

#menuCapas h4 {
    margin: 0;
    padding: 0;
    inline-size: none;
    color: #A2A5FF
}


#menuCapas button {
    background-color: #050010;
    margin:5px 0px;
    border: solid;
    border-color: rgb(211, 154, 247);
    border-width: 1px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
    transition: background-color 0.3s, color 0.3s;
}

#menuCapas button:hover {
    background-color: rgb(211, 154, 247);
    color: #050010;
    
}

#menuCapas button:active {
    background-color: rgb(158, 15, 206);
    color: #050010;
}

.layer-button{
    position: absolute;
    margin: 10px;
    z-index: 1000;
    height: 29px;
    width: 29px;
    border: 1px solid rgb(211, 154, 247);
    border-radius: 4px;
    background: #050010;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(203, 203, 203);
    font-size: 1.3em;
    font-weight: 900;
    display: flex;
    cursor: pointer;
    transition: all 0.3s;

}

.layer-button:hover{
    background-color: rgb(211, 154, 247);
    color: black;
    transition: background-color 0.3s, color 0.3s;

}

.layer-button.visible {
    border-color: #00000000;
    background: #00000000;
    font-size:0.9em;
    transition: all 0.3s;
}


